extends base

block content 
  include _navside
  .col.bg-light
    .card.p-5.shadow.mt-5.me-5  
      .row.mb-5
        .col 
          h1= `${title}`
        .col-2
          a.btn.btn-primary.w-100(href='plants/add-plant') Add
      .row
        table.table
          thead
            tr
              th(scope='col') #
              th(scope='col') Image
              th(scope='col') Galery
              th(scope='col') Plant Name
              th(scope='col') Price
              th(scope='col') Stock
              th(scope='col') Store
              th(scope='col') Actions
          tbody
            each plant, i in plants
              tr
                th(scope='row')= `${i + 1}`
                td
                  img.img-thumbnail(src=`/img/plants/${plant.imageCover}` alt=`${plant.plantName}` style='width: 150px; height: 150px ; object-fit: cover;' )
                td
                  each galery in plant.imageGalery
                    img.img-thumbnail(src=`/img/plants/${galery}` alt=`${plant.plantName}` style='width: 75px; height: 75px ; object-fit: cover;' )
                td=`${plant.plantName}`
                td=`${plant.price}`
                td=`${plant.stock}`
                td=`${plant.store.storeName}`
                td
                  a.btn.btn-warning.me-1(href=`/plants/update/${plant._id}`) Update
                  form#formDeletePlant(action=`/plants/delete/${plant._id}`)
                    button#btnDeleteStore.btn.btn-danger.ms-1 Delete