extends base

block content 
  .col.bg-light
    .card.p-5.shadow.mt-5.me-5
      .row.mb-5
        .col 
          h1= `${title}`
        .col-2
          a.btn.btn-primary.w-100(href='/stores/add-store') Add
      .row
        table.table
          thead
            tr
              th(scope='col') #
              th(scope='col') Store Name
              th(scope='col') Owner
              th(scope='col') Actions
          tbody
            each store, i in stores
              tr
                th(scope='row')= `${i + 1}`
                td=`${store.storeName}`
                td=`${store.owner}`
                td
                  a.btn.btn-warning.me-1(href=`/stores/update/${store._id}`) Update
  
                  a.btn.btn-danger.ms-1(href=`/stores/update/${store._id}`) Delete
  